*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.d-flex{
    display: flex;
}

.main-container{
    height: 100vh;
    background: linear-gradient(180deg, #009688 10%, #d9dbd4 10%);
    justify-content: center;
    align-items: center;
}

.container{
    height: 90vh;
    width: 80vw;
}

.sinistra{
    width: 40%;
    border-right: 1px solid lightgrey;
}

.destra{
    width: 60%;
}

.sopra{
    width: 100%;
    height: 10%;
    background-color: #eaeaea;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.notifiche{
    background-color: #8edafc;
    width: 100%;
    height: 10%;
    align-items: center;
}

.cerca{
    width: 100%;
    height: 5%;
    background-color: #fafafa;
    align-items: center;
    justify-content: center;
}

.chats{
    width: 100%;
    height: 75%;
    background-color: #ffffff;
    overflow-y: scroll;
    justify-content: space-around;
    flex-direction: column;
}

.chat{
    width: 100%;
    height: 80%;
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
    flex-direction: column;
}

.messaggio{
    width: 100%;
    height: 10%;
    background-color: #f3eeea;
}

.avatar-container{
    width: 20%;
    height: 100%;
    align-items: center;
}

.avatar{
    width: 50px;
    height: 50px;
}

.avatar img{
    width: 100%;
    border-radius: 50%;
}


.opzioni{
    height: 100%;
    align-items: center;
}

.opzioni i{
    margin-left: 15px;
    cursor: pointer;
}

.bell{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #f2fbff;
    margin-left: 20px;
    align-items: center;
}

.bell i{
    margin-left: 15px;
}

.bell-text{
    margin-left: 15px;
}

.bell-text a{
    color: grey;
}

.cerca button{
    width: 10%;
    height: 70%;
    background-color: white;
    border: 1px solid lightgray;
    border-right: none;
    cursor: pointer;
}

.cerca input{
    width: 85%;
    height: 70%;
    border: 1px solid lightgray;
    padding-left: 5px;
}

.img-container{
    width: 100%;
    height: 20%;
    border-top: 1px solid lightgray;
}

.contatti{
    align-items: center;
    height: 100%;
    margin-left: 20px;
}

.text-container{
    width: 50%;
   
}

.contatti h4{
    flex: none;
    margin-left: 20px;
}

h4 span{
    color: lightgray;
}

.contatti p{
    margin-left: 300px;
    color: lightgray;
}

.destra .sopra h4{
    margin-left: 15px;
}

.messaggio{
    justify-content: space-around;
    align-items: center;
}

.messaggio input{
    width: 80%;
    height: 70%;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.messaggio i{
    font-size: x-large;
    cursor: pointer;
    margin: 0px 25px;
}

.received{
    width: 30%;
    background-color: white;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
    padding-left: 10px;
}

.sent{
    width: 30%;
    background-color: #d5f9ba;
    border-radius: 5px;
    align-self: flex-end;
    margin: 20px;
    padding: 5px;
    padding-left: 10px;
}

.chat .data{
    text-align: end;
    color: lightgray;
    margin-right: 5px;
}